<div class="menu-group">

  <!-- Parent -->

  <button
    type="button"
    class="group-trigger"
    [class.expanded]="expanded()"
    [class.active]="isActive()"
    (click)="toggle()">

    <div class="left">

      <erp-icon
        [name]="item.icon"
        size="md">
      </erp-icon>

      @if (!collapsed) {

        <span class="label">
          {{ item.title }}
        </span>

      }

    </div>

    @if (!collapsed) {

      <erp-icon
        class="arrow"
        [name]="expanded() ? 'chevronUp' : 'chevronDown'"
        size="sm">
      </erp-icon>

    }

  </button>

  <!-- Children -->

  @if (expanded() && item.children?.length && !collapsed) {

    <div class="children">

      @for (child of item.children; track child.id) {

        @if (child.children?.length) {

          <erp-sidebar-menu-group
            [item]="child"
            [collapsed]="collapsed"
            (navigate)="onNavigate()">
          </erp-sidebar-menu-group>

        } @else {

          <erp-sidebar-menu-item
            [item]="child"
            [collapsed]="collapsed"
            (navigate)="onNavigate()">
          </erp-sidebar-menu-item>

        }

      }

    </div>

  }

</div>