<header class="navbar">
  <div class="navbar-left">
    <erp-sidebar-toggle />

    <div class="page-information">
      <h1>Dashboard</h1>
      <span> School Management System </span>
      <erp-button>Save</erp-button>
      <erp-button>Delete</erp-button>
    </div>
  </div>

  <div class="navbar-center">
    <erp-navbar-search />
  </div>

  <div class="navbar-right">
    <!-- Theme -->

    <erp-theme-toggle />

    <!-- Fullscreen -->

    <erp-fullscreen />

    <!-- Notification -->

    <erp-dropdown>
      <erp-navbar-action
        dropdownTrigger
        icon="bell"
        [badge]="navbar.unreadCount()"
      >
      </erp-navbar-action>

      <erp-notification-panel dropdownContent> </erp-notification-panel>
    </erp-dropdown>

    <!-- Profile -->

    <erp-dropdown>
      <button dropdownTrigger class="profile-button">
        <div class="avatar">A</div>

        <span>
          {{ navbar.profile().name }}
        </span>
      </button>

      <erp-profile-menu dropdownContent> </erp-profile-menu>
    </erp-dropdown>
  </div>
</header>
