.material-symbols-rounded {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  line-height: 1;
  user-select: none;

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.clickable {
  cursor: pointer;
}

.xs {
  font-size: 14px;
}

.sm {
  font-size: 18px;
}

.md {
  font-size: 24px;
}

.lg {
  font-size: 32px;
}

.xl {
  font-size: 40px;
}

.inherit {
  color: inherit;
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.danger {
  color: var(--color-danger);
}

.muted {
  color: var(--color-text-secondary);
}