<aside
    class="sidebar"
    [class.collapsed]="state.collapsed()">

    <erp-sidebar-logo
        [collapsed]="state.collapsed()">
    </erp-sidebar-logo>

    <nav class="navigation">

        @for (item of builder.menu(); track item.id) {

            <erp-sidebar-menu-group
                [item]="item"
                [collapsed]="state.collapsed()">
            </erp-sidebar-menu-group>

        }

    </nav>

    <erp-sidebar-user-card
        [collapsed]="state.collapsed()">
    </erp-sidebar-user-card>

</aside>