<div
    class="avatar"
    [class]="[
      size(),
      shape(),
      color()
    ]">

    @if (src() && imageLoaded()) {

        <img
            [src]="src()"
            [alt]="alt() || name()"
            (error)="onImageError()">

    } @else if (displayInitials()) {

        <span class="initials">

            {{ displayInitials() }}

        </span>

    } @else {

        <span class="material-symbols-rounded icon">

            {{ icon() }}

        </span>

    }

    @if (status() !== 'none') {

        <span
            class="status"
            [class]="status()">

        </span>

    }

</div>