<div class="profile-menu">
  <div class="profile-header">
    <div class="avatar">A</div>

    <div class="profile-details">
      <div class="name">Admin User</div>

      <div class="email">admin@school.com</div>
    </div>
  </div>

  <div class="divider"></div>

  <button type="button" class="menu-item">My Profile</button>

  <button type="button" class="menu-item">Account Settings</button>

  <button type="button" class="menu-item">Change Password</button>

  <div class="divider"></div>

  <button type="button" class="menu-item logout">Logout</button>
</div>
