@if (orientation === "horizontal") {
  <div
    class="erp-divider erp-divider--horizontal"
    [class.erp-divider--none]="spacing === 'none'"
    [class.erp-divider--sm]="spacing === 'sm'"
    [class.erp-divider--md]="spacing === 'md'"
    [class.erp-divider--lg]="spacing === 'lg'"
    role="separator"
  >
    @if (label) {
      <span class="erp-divider-line"></span>

      <span class="erp-divider-label">
        {{ label }}
      </span>

      <span class="erp-divider-line"></span>
    } @else {
      <span class="erp-divider-line"></span>
    }
  </div>
} @else {
  <div
    class="erp-divider erp-divider--vertical"
    [class.erp-divider--none]="spacing === 'none'"
    [class.erp-divider--sm]="spacing === 'sm'"
    [class.erp-divider--md]="spacing === 'md'"
    [class.erp-divider--lg]="spacing === 'lg'"
    role="separator"
  ></div>
}
