<div
  class="erp-search-box"
  [class.erp-search-box--sm]="size === 'sm'"
  [class.erp-search-box--md]="size === 'md'"
  [class.erp-search-box--lg]="size === 'lg'"
  [class.erp-search-box--disabled]="disabled"
>

  <div class="erp-search-box-icon">

    <erp-icon
      name="search"
    ></erp-icon>

  </div>


  <input
    type="search"
    class="erp-search-box-input"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [attr.aria-label]="placeholder"
    (input)="onInput($event)"
    (keydown)="onKeydown($event)"
  />


  @if (clearable && value && !disabled) {

    <button
      type="button"
      class="erp-search-box-clear"
      aria-label="Clear search"
      (click)="clear()"
    >

      <erp-icon
        name="close"
      ></erp-icon>

    </button>

  }

</div>