*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {

  margin: 0;

  padding: 0;

  min-height: 100%;
}

button,
input,
textarea,
select {

  font: inherit;
}

ul,
ol {

  margin: 0;

  padding: 0;

  list-style: none;
}